// Imports
@import "./scss/variables";

// Classes
.App {
  font-family: $mainFont;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

// Elements

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

// IDs

.form__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2em;
  border-radius: 5px;
}
